.profilebox
        if user._id.toString()!==profile._id.toString()
          .follow
              if user.following.includes(profile._id)
                form(action=`/follow/${profile._id}` method='POST')
                  button.unfollow unfollow
              else
                form(action=`/follow/${profile._id}` method='POST')
                  button follow
                        
        .pPicture
            if profile.image
              img( alt='' style=`background-image:url(https://res.cloudinary.com/kuko/w_234/${profile.image})`)
            else
              img(style="background-image:url('/../images/profile.jpg')" alt='')
        .profileName
          h2 
            = profile.fullname
          h3 
            = "@" + profile.username
        .followingfollowers
          a(href=`/following/${profile._id}`).following
            h4 Following
            h5 
              = profile.following.length
          
          a(href=`/followers/${profile._id}`).followers
            h4 Followers
            h5 
              = profile.followers.length
